
#container{
    width: 100vw;
    height: 100vh;
    background-color: #2c3034;
    position: fixed;
    z-index: 6;
}

#loader{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main > section:nth-child(1) .nav-link {
    background-image: linear-gradient(
            to right,
            goldenrod,
            goldenrod 50%,
            #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    color: snow;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

main > section:nth-child(1) .nav-link:before {
    content: '';
    background: goldenrod;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

main > section:nth-child(1) .nav-link:hover {
    background-position: 0;
    color: gold;
    text-decoration: none;
}

main > section:nth-child(1) .nav-link:hover::before {
    width:100%;
}

.loginBar{
    position: absolute;
    right: 56px;
}

.heading{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 429px;
    top: 0;
    margin: auto;
}

.mask{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.chooseData{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.datepicker table{
    background-color: chocolate;
}
.datepicker table tr td {
    background-color:#B77F0E;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    border-radius: 50%;
}

.datepicker table tr th {
    color: #fff;
    line-height:35px;
}

.datepicker .datepicker-switch {
    font-family:Optima;
    text-transform:uppercase;
    font-size:16px;
    width: 145px;
    background: #3A2218;
    color: #EAAA01;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: #3A2218;
    color: #EAAA01;
}

.container{
    display: inline;
}

/*-------------------*/

#login_page_container{
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    background-size: cover;
    transform: scale(0);
    z-index: 6;
}

#ForgotPasswordPage{
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    background-size: cover;
    transform: scale(0);
    z-index: 7;
}

